<div class="container">
    <div class="row" *ngIf="product">
        <div class="col-6">
            <img src="{{product.pictureUrl}}" class="img-fluid w-75" alt="">
        </div>
    
        <div class="col-6 mt-5">
            <h2>{{product.name}}</h2>
            <p>{{product.price | currency}}</p>

            <h5 class="text-primary mb-4" *ngIf="quantityInBasket > 0">
                You have {{quantityInBasket}} of this item in your basket
            </h5>

            <div class="d-flex justify-content-center align-items-center">
                <i class="fa fa-minus-circle text-warning me-2" style="cursor: pointer; font-size: 1.5em;" (click)="decrementQuantity()"></i>
                <span class="font-weight-bold mx-1">{{quantiy}}</span>
                <i class="fa fa-plus-circle text-warning me-2" style="cursor: pointer;font-size: 1.5em;" (click)="incrementQuantity()"></i>
                <button class="btn btn-outline-secondary ms-4" (click)="updateBasket()"
                [disabled]="quantiy === quantityInBasket">{{buttonText}}</button>
            </div>
    
            <div class="row mt-4">
                <h4>Description</h4>
                <p>{{product.description}}</p>
            </div>
        </div>
    </div>
</div>