<carousel>
    <slide>
        <img src="assets/images/products/r.webp" style="display: block;width: 100%;" alt="">
    </slide>
    <slide>
        <img src="assets/images/products/t.avif" style="display: block;width: 100%;" alt="">
    </slide>
    <slide>
        <img src="assets/images/products/n.jpeg" style="display: block;width: 100%;" alt="">
    </slide>
</carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to our shop</h1>
    </div>
</section>
